@import "src/components/_settings/_variables";
@import "codemirror/lib/codemirror.css";
@import "codemirror/theme/material.css";

.react-codemirror2 {
  height: 100%;
}

.CodeMirror-wrap {
  height: 100%;
  font-size: 17px;
}

.frame .CodeMirror-wrap {
  font-size: 7px;
}
