@import "src/components/_settings/_variables";

#button-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 1rem;

  .button {
    margin-right: 10px;
  }
}
