@import "src/components/_settings/_variables";

.frame {
  margin: 0 10px;
  background-color: white;
  flex-shrink: 0;
  width: 150px;
  height: 150px;
  font-size: 1px;

  user-select: none;
}

.selected-frame {
  border: 10px solid blue;
}
