@import "src/components/_settings/_variables";

#frame-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;

  overflow-x: scroll;
  overflow-y: hide;
  -webkit-overflow-scrolling: touch;

  padding: 1rem;
  border-top: 1px solid #e3e3e3;
}

#frame-container:after {
  content: "";
  width: 1rem;
  flex-shrink: 0;
}
