@import "src/components/_settings/_variables";

#frames-container {
  width: 100%;
  background-color: orange;
  display: flex;
  justify-content: flex-start;

  overflow-x: scroll;
  overflow-y: hide;
  -webkit-overflow-scrolling: touch;

  padding: 1rem;
}

#frames-container:after {
  content: "";
  width: 1rem;
  flex-shrink: 0;
}
